<!-- Modal to add blog -->
<div class="modal fade" id="addNewBlog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Blog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form role="form" action="/addNewBlog" method="post">
          <div class="modal-body">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input name="name" type="text" class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Description:</label>
                <textarea name="description" class="form-control" id="message-text"></textarea>
              </div>
          
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
        </div>
      </form>
  </div>
</div>

<!-- Modal to edit blog -->
<div class="modal fade" id="updateBlog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update  Blog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form role="form" action="/updateBlog" method="post">
          <div class="modal-body">
            <div class="mb-3">
                <input class="form-control" type="hidden" name="id" id="id">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input name="name" type="text" class="form-control" id="modalName">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Description:</label>
                <textarea name="description" class="form-control" id="modalDescription"></textarea>
              </div>
          
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
        </div>
      </form>
  </div>
</div>


<!-- Modal de delete blog -->
<div class="modal fade" id="deleteBlog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete  Blog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/deleteBlog" method="post">
          <div class="modal-body">
              <input type="hidden" name="id" id="idDelete">
              <p  class="text-danger h1">Sure</p>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Delete </button>
          </div>
      </form>
    </div>
  </div>
</div>